*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html{
    font-size: 10px;
    background: #bf0a30;
    color: #fff ;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100px;
}
nav img{
    margin-right:90px ;
    margin-top: 30px;
}
nav ul{
    display: flex;
    margin-left: 250px;
    justify-content: space-around;
    align-items: center;
   
}
nav li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 25px;
    margin-left: 80px;
}
nav ul li a:hover{
    opacity: .6;
}

.header-main{
    display: grid;
    align-items: center;
    grid-template-columns: 800px 1fr;
    margin-left: 100px;
    margin-top: 50px;
}
.header-main-content-h1{
    font-size: 70px;
font-style: italic;    
}
 .header-main-content-p{
  font-size: 20px;
  margin-top: 10px;
  width: 80%;
}
.header-main-content button{
    font-size: 25px;
    padding: 14px 65px;
    border: none;
    outline: none;
    color: black;
    cursor:pointer;
    border-radius: 13px;
    margin-top: 20px;
}
.BUY-NOW:hover{
    opacity: .6 ;
}

footer{
    background-color: #111;
}
.footer-conatiner{
    width: 100%;
    padding: 70px 20px 30px;
}
footer .social-icons{
    display: flex;
    justify-content: center;
}
footer .social-icons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
  
}
footer .social-icons a i{
    font-size: 2em;
    opacity: 0.9;
    color: #111;
}
footer .social-icons a:hover{
    background-color:yellow;
    transition: 0.5s;
}
footer .social-icons a:hover i{
    background-color: #fff;
    transition: 0.5s;
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    list-style-type: disc;
   
}
.footer-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.9em;
    margin: 20px;
    opacity: 0.2;
    transition: 0.5s;
}
.footer-nav ul li a:hover{
    opacity: 1;
}
@media(max-width:800px){
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

}
footer{
/* margin-bottom: 200px; */
margin-top: 90px;
}